AUTH0_CLIENT_ID=client_id
AUTH0_CLIENT_SECRET=client_secret
AUTH0_DOMAIN=auth0_domain
APP_SECRET_KEY=secret_key
REDIRECT_URI=http://localhost:8501
MONGO_URI=mongodb+srv://<user_name>:<user_password>@<database_url>/<db_name>?retryWrites=true&w=majority
